.registerContainer {
  max-width: 100vw;
  height: 100vh;
  background: url("../../public/assets/images/register-bg.png");
  background-size: cover;
}

.registerBox {
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 25px;
}
