.mainContainer {
  display: flex;
  flex-wrap: wrap;

}

.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactFormSection {
  flex: 2 1;
}

.contactInfoSection {
  background-color: #4348a7;
  flex: 1 1;
}
