@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

a {
  color: #55b328 !important;
  text-decoration: none !important;
  font-family: "Lato", sans-serif !important;
  text-transform: none !important;
}

a:hover {
  color: #40881f !important;
  text-decoration-color: #40881f !important;
  transition: ease 0.5s;
}

/*



.btn-primary {
  background-color: #55b328 !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #40881f !important;
  color: #fff !important;
  transition: ease 0.5s;
}

.btn-secondary {
  background-color: #fff !important;
  color: #55b328 !important;

  transition: ease 0.5s;
}

.btn-secondary:hover {
  color: #40881f !important;
  background-color: #e8e8e8 !important;
}

h1 {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

p {
  font-family: "Lato", sans-serif !important;
}

#header {
  height: 9%;
}

*/
