@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body,
main {
  margin: 0;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

a {
  color: #55b328 !important;
  text-decoration: none !important;
}

a:hover {
  color: #40881f !important;
  text-decoration-color: #40881f !important;
  transition: ease 0.5s;
}

.btn-primary {
  background-color: #55b328 !important;
}

.btn-primary:hover {
  background-color: #40881f !important;
  transition: ease 0.5s;
}

h1 {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

p {
  font-family: "Lato", sans-serif !important;
}
