.loginContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.formContainer {
    background-color: white;
    border-radius: 38px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    padding: 1.5rem 10rem;
    flex-direction: column;
    align-items: center;
    /* max-width: calc(100vw - 20px); */
    max-width: 55%;
    max-height: 70%;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.formContainer h1 {
    margin-bottom: 0.5rem;
}
  
.formContainer p {
    font-size: 1rem;
    font-weight: 400;
}