.mainContainer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.formBox {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  overflow: visible;
}

.formBox h1 {
  margin-bottom: 0.5rem;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.35);
}

hr.helpDivider{
  margin: 1rem 0;
}

.logo {
  width: 6rem;
  height: 4rem;
}
